# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#tempsolutions
challenge_instances_cgshop25/zips/cur_solutions.zip
instance_solutions/**
out/**
src/__pycache__/
solution_summaries/merged_summaries_bak.pkl
solution_summaries/merged_summaries_bak.zip

#backups
*.bak
